body {
    background-image:linear-gradient(135deg, #d8ca0b 10%, #1904E5 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    color: #f1e5e5;
  }
  
  .form {
    margin: 0 auto;
    font-family: FontAwesome;
    width: 80%;
    background: #a01143;
    border-radius: 100px;
    overflow: hidden;
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 20px 6px #090b6f85;
    
  }
  @media (max-width: 10000px) {
    .form {
      flex-flow: wrap;
      text-align: center;
      align-content: center;
      align-items: center;
    }
  }
  
  .remember-me--forget-password input {
    margin: 0;
    margin-right: 7px;
    width: auto;
  }
  
  .form p input{
    font-family: FontAwesome;
    color: #fff;
    font-size: 30px;
    color: #3d3399;
    padding: 12px 35px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0px 4px 20px 0px #49c628a6;
    background-image: linear-gradient(135deg, #ddf570 10%, #dce9d8 100%); 
  }
  
  form p button {
    color: #fff;
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0px 4px 20px 0px #49c628a6;
    background-image: linear-gradient(135deg,#3d3399 10%, #c66f28 100%);
  }
  
  
  
  label {
    display: block;
    position: relative;
    margin-left: 30px;
  }
/*   
  label::before {
    content: ' \f00c';
    position: absolute;
    font-family: FontAwesome;
    background: transparent;
    border: 3px solid #70F570;
    border-radius: 4px;
    color: transparent;
    left: 790px;
    transition: all 0.2s linear;
  }
   */
  label:hover::before {
    font-family: FontAwesome;
    content: ' \f00c';
    color: #fff;
    cursor: pointer;
    background: #70F570;
  }
  
  
  
  label span.text-checkbox {
    color: black;
    display:block;
    height: auto;
    position: relative;
    cursor: grab;
    transition: all 0.2s linear;
  }
  
  label input[type="checkbox"] 
  {
    display: block;
  }