body {
    font-family: "Open Sans", sans-serif;
    /* background-image: url("robomoving.png"); */
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;

}
#sunny{
    float: left;
    background-image: url("/static/robomoving.png");
    height: 600px;
    width: 650px;
    position: relative;
    animation: a 1.0s steps(10) infinite ;
    animation-duration: 2s;
    overflow: hidden;
}

@keyframes a{
    100% {background-position:90.80%}
}

.box-form {
    margin: 0 auto;
    width: 80%;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: scroll;
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 20px 6px #090b6f85;
  }
  /* @media (max-width: 980px) {
    .box-form {
      flex-flow: wrap;
      text-align: center;
      align-content: center;
      align-items: center;
    }
  } */
  .box-form div {
    height: auto;
  }

h1 {
    color: black;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
}

h3 {
    color: black;
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
}
div.exe1{
    overflow: scroll;
}

#sunny2{
    float: right;
    width: 50%;
    background-attachment: fixed;
    background-image: linear-gradient(white);
    background-size: cover;
    overflow: scroll;
}

#chatbox {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#userInput {
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}

#textInput {
    width: 100%;
    height: auto;
    border: none;
    border-bottom: 3px solid #009688;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
}

#buttonInput {
    padding: 3px;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
}

.userText {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    text-align: right;
    line-height: 30px;

}

.userText span {
    background-color: #009688;
    padding: 10px;
    border-radius: 2px;
}

.botText {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
    font-style: italic;
}


.botText span {
    background-color: #EF5350;
    padding: 10px;
    border-radius: 2px;

}

.botText span span {
    background-color: #EF5350;


}



.bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
       
    -webkit-filter: blur(30px);
            filter: blur(30px);
    
  }

#tidbit {
    position:absolute;
    bottom:0;
    right:0;
    width: 300px;
}