<!DOCTYPE html>
<html>
  <head>
    <title>Chatbot page</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body id="body" style="background-image: url(/static/gif_play_once/third_gif.gif);background-size: auto;
  background-repeat:no-repeat;overflow: scroll;background-attachment: fixed;">
    <h1 style="color: white;">Automated Healthcare Chatbot</h1>
    <div>
      <div id="chatbox"  class="overlay">
       
        <p class="botText" id="greetText"><span style="text-transform: capitalize;">Hello {{name}}, </span></p>

      </div>
      <div id="userInput"  class="overlay">
        <input id="textInput" type="text" name="msg" placeholder="Message" autofocus>
        <input id="buttonInput" type="submit" value="Send">
      </div>
      
      <script>
        var heading=document.getElementById("body");
        var counter=0;
        function greetings() 
            {
            // var botHtml = '<p class="botText"><span>' + data + '</span></p>';
            data="Hello {{name}}, How may I help you!"
            var voices = [];
            voices = window.speechSynthesis.getVoices();
            var msg1 = new SpeechSynthesisUtterance();
            msg1.text = data;
            msg1.voice = voices[2];
            window.speechSynthesis.speak(msg1);
        }



        function getBotResponse() 
        {
          var heading=document.getElementById("body");
          
          var rawText = $("#textInput").val();
          var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          
          // if (counter%2==0){
          //   heading.style["backgroundImage"]="url(/static/gif_play_once/third_gif.gif)";
          //   counter=counter+1;
          // }
          // else if(counter%3==0){
          //   heading.style["backgroundImage"]="url(/static/gif_play_once/third_gif.gif)";
          //   counter=counter+1;
          // }
          // else{
          //   heading.style["backgroundImage"]="url(/static/gif_play_once/third_gif.gif)";
          //   counter=counter+1;
          // }
          
          $.get("/get", { msg: rawText }).done
          (
            function(data) 
            {
            var botHtml = '<p class="botText"><span>' + data + '</span></p>';
            heading.style["backgroundImage"]="url(/static/gif_play_once/third_gif.gif)";
            var voices = [];
            voices = window.speechSynthesis.getVoices();
            var msg1 = new SpeechSynthesisUtterance();
            msg1.text = data;
            msg1.voice = voices[0];
            window.speechSynthesis.speak(msg1);

            
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
            }
          
            );
        }
        
      
        greetings();
        $("#textInput").keypress(function(e) {
            if(e.which == 13) {
                getBotResponse();

              
            }
        });
        $("#buttonInput").click(function() {

          getBotResponse();

          
        })
      </script>
    </div>
   
    
  </body>
</html>